body {
	background-color: #167678;
}

h1 {
	color: #9FFFE1;
	width: 210px;
	margin: 0 auto;
	padding: 15px 0;
}

.direction {
	width: 175px;
	margin: 0 auto;
}

.dir-icon {
	width: 50px;
	height: 50px;
}

.nav {
	width: 234px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#back{
	width: 219px;
}

.send-alerts {
	margin-bottom: 20px;
}

.send-alerts img {
	padding-bottom: 5px;
}

#alert-info {
	color: #9FFFE1;
	width: 224px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.alert-item {
	display: block;
}

#alert-list li img {
	padding-top: 5px;
	height: 50px;
}

.message-form {
	width: 213px;
	margin: 0 auto;
}

#messages {
	width: 250px;
	margin: 0 auto;
}
