<section class="hero" layout="column" layout-align="center center">

  <div class="hero-logo">
    <h1 class="md-headline">Pastoralite</h1>
    <div class="md-title">
      A simple app.
    </div>
  </div>

  <div class="hero-buttons">
    <md-button class="md-raised md-primary" ng-href="https://github.com/dotch/angular-express-starter">
      <md-icon>WEATHER</md-icon>
      Put some weather here
    </md-button>
    <md-button class="md-raised md-primary" ng-href="https://github.com/dotch/angular-express-starter/issues">
      <md-icon>ADD WEATHER?</md-icon>
      Report some weather
    </md-button>
  </div>

</section>
